@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }

  * {
    box-sizing: border-box;
  }

  .underline-custom-sm {
    text-decoration: underline;
    text-decoration-color: #4ee1a0;
    text-decoration-thickness: 3px;
  }

  .underline-custom-md {
    text-decoration: underline;
    text-decoration-color: #4ee1a0;
    text-decoration-thickness: 6px;
  }

  .help {
    * {
      border: 1px solid red;
    }
  }

  @media screen and (max-width: 385px) {
    .navbar-text {
      font-size: 12px;
    }
  }
}
